<h1 align='center'>Bem-vindo <%= @user.username %> ao seu perfil</h1>
<div class="row">
  <div class="col col-mid-offset-4 center">
    <%= gravatar_for @user, size: 200 %>
  </div>
</div>
<h4 align='center'><%= @user.username %>, esse sao seus artigos: </h4>
<div align="center">
  <%= will_paginate @user_articles, renderer: BootstrapPagination::Rails %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div align="center">
  <%= will_paginate @user_articles, renderer: BootstrapPagination::Rails %>
</div>