<h1 align="center"><%= "Categoria: #{@category.name}" %></h1>
<div align="center">
  <% if logged_in? and current_user.admin? %>
  <div class="row">
    <span class="badge"><%= link_to 'Editar categoria', edit_category_path(@category) %></span>
    <br>
  </div>
  <% end %>
</div>
<div align="center">
  <%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>
<%= render 'articles/article', obj: @category_articles %>
<div align="center">
  <%= will_paginate @category_articles, renderer: BootstrapPagination::Rails%>
</div>